/* Set the font family for the entire page */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
    background-color: #ed0c11;
  }
  
  /* Header Section */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
  }
  
  .header .logo {
    width: 50px;
  }
  
  .header nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .header nav li:last-child {
    margin-right: 0;
  }
  
  .header nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
  }
  
  .header nav li a:hover {
    background-color: #ed0c11;
  }
  
  /* Background Video */
  .bg-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed0c11; /* Add desired background color here */
  }
  
  
  .bg-video::after {
    content: "";
    background-color: #ed0c11;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 100%);
  }
  
  .bg-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
  /* Main Section */
  .container {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
    text-align: center;
  }
  
  .container .title-image {
    padding-top: 100px;
    max-width: 600px;
  }
  
  .container h1 {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  .container p.description {
    color: #a8adb7;
    width: 85%;
    font-size: 16px;
    margin: 20px 0;
  }
  
  .container li a {
    background-color: #ed0c11;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-out;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
}


.container li a:hover {
    transform: scale(1.1)
}
  
footer {
  position: bottom;
  padding: -20px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
}
