<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap" rel="stylesheet">


        <link>{% block others %}{% endblock others %}</link>
        <link>{% block responsive %}{% endblock responsive %}</link>
        <link>{% block reset %}{% endblock reset %}</link>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        
        {% block content %}{% endblock %}
        
        <footer class="footer">
            <p>&copy; 2023 Super Mario Bros - Movie. Made by TheHumanoidTyphoon.</p>
        </footer>
        
        <script src="{{ url_for('static', filename='script/js/index.js') }}"></script>
    </body>
</html>
