{% extends 'base.html' %}

{% block others %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/css/styles_2.css') }}">
{% endblock others %}

{% block responsive %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive/responsive_2.css') }}">
{% endblock responsive %}

    {% block title %}Super Mario Bros - Movie Details{% endblock %}
    {% block content %}
        <div class="bg-video">
            <video class="video" autoplay loop muted>
                <source src="{{ url_for('static', filename='video/video-mario.mp4') }}" type="video/mp4">
            </video>
        </div> 

        <header class="header">
            <a>
                <img class="logo" 
            src="{{ url_for('static', filename='images/logo-mario-hat.png') }}" alt="logo-mario-hat"> 
            </a>
            <nav>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/details.html">Detalhes</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <div class="infos">
                <h1>Super Mario Bros - Detalhes do Filme</h1>
                <p class="description">Mario é um encanador junto com o seu irmão Luigi. Um dia, eles vão parar no reino dos cogumelos, governado pela Princesa Peach, mas ameaçada pelo rei dos Koopas, que faz de tudo para conseguir reinar em todos os lugares. O filme é baseado no popular jogo de videogame da Nintendo, Super Mario Bros.</p>
                <a href="https://www.thesupermariobros.movie/">Saiba mais sobre o filme</a>
            </div>
                <img class="bg-image" src="{{ url_for('static', filename='images/super-mario-chars.png') }}"/>
        </main>

        <script src="{{ url_for('static', filename='script/js/index.js') }}"></script>
    {% endblock %}